@charset "utf-8";
.rg_ct .rg_ct_hd {
	background-image: url(../image/hl_lgn_splice.png);
	background-position: -200px 0px;
	height: 50px;
	background-repeat: no-repeat;
	margin-left: 200px;
}
.rg_ct {
	background-color: #FFF;
	width: 670px;
	text-align: center;
	display: block;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #FF0;
	border-right-color: #FF0;
	border-bottom-color: #FF0;
	border-left-color: #FF0;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
.hl_lgn_reg_tb {
}
.rg_ct tbody {
	display: table-row-group;
}

.hl_lgn_textbox {
	display: inline-block;
	vertical-align: middle;
}
.hl_lgn_tips {
	display: inline-block;
}
.hl_lgn_textbox_area.hl_lgn_textbox_password {
	display: block;
}
.hl_lgn_psw_txt {
	display: inline;
}
.hl_lgn_psw_strong_cnt {
	display: inline-block;
}
.hl_lgn_psw_txt {
	display: inline;
}
.hl_lgn_code_area {
	display: inline-block;
	height: 38px;
	width: 100px;
	overflow: hidden;
	vertical-align: middle;
}
.rg_ct div {
	font-size: 12px;
}
.rg_ct td {
	padding-bottom: 15px;
}
.hl_lgn_reg_tb_tl {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 14px;
}
.hl_lgn_textbox_ipt {
	line-height: 22px;
	border-color: #54ade7;
	color: #7b7b7b;
	background: #f3f3f3;
	padding: 7px;
	height: 38px;
	width: 266px;
	border: 1px solid #CCC;
}
.hl_lgn_changeone {
	line-height: 14px;
	color: #7b7b7b;
	text-decoration: underline;
	display: inline-block;
	cursor: pointer;
}
.hl_lgn_psw_strong {
	display: block;
	font-size: 12px;
	line-height: 1em;
	margin-top: 10px;
}
.hl_lgn_psw_strong_cnt {
	background-color: #e0e0e0;
	display: inline-block;
	height: 12px;
	width: 169px;
	overflow: hidden;
	position: relative;
	margin-right: 3px;
	margin-left: 3px;
	vertical-align: middle;
}
.hl_lgn_psw_strong_cnt .line1 {
	left: 55px;
}
.hl_lgn_psw_strong_cnt .line2 {
	left: 112px;
}
.hl_lgn_psw_strong_cnt .line1, .hl_lgn_psw_strong_cnt .line2{
	position: absolute;
	top: 0;
	width: 2px;
	height: 12px;
	background: #fff;
	overflow: hidden;
}
.hl_lgn_psw_strong_cnt .bg {
	position: relative;
	top: 0;
	left: -169px;
	display: block;
	width: 169px;
	height: 12px;
	background: #a9d6f3;
	zoom: 1;
}
.hl_lgn_psw_strong_s1 .hl_lgn_psw_strong_cnt .bg {
	left: -112px;
}
.hl_lgn_psw_strong_s2 .hl_lgn_psw_strong_cnt .bg {
	left: -55px;
}
.hl_lgn_psw_strong_s3 .hl_lgn_psw_strong_cnt .bg {
	left: 0px;
}
.hl_lgn_textbox_code
.hl_lgn_textbox
.hl_lgn_textbox_ipt {
	width: 136px;
}
.rg_ct .red {
	color: #F00;
}
input.hl_lgn_reg_btn {
	background-image: url(../image/hl_lgn_splice.png);
	background-position: 0px -200px;
	vertical-align: middle;
	display: inline-block;
	height: 40px;
	width: 136px;
	cursor: pointer;
	border: 0px;
	font-size:0;
	background-repeat: no-repeat;
}
.hl_lgn_tips_icon{
	background-image:url(../image/hl_lgn_splice.png);
	background-repeat: no-repeat;
	display: none;
	width: 12px;
	height: 12px;
	overflow: hidden;
	margin-right: 5px;
	margin-top: 3px;
}
.hl_lgn_tips {
	display: none;
	line-height: 1.5;
	padding: 10px;
}
.hl_lgn_tips_error{
	background:#fadada;
}
.hl_lgn_tips_error
.hl_lgn_tips_icon{
	background-position:0px -350px;
	display:inline-block;
}
.hl_lgn_tips_error
.hl_lgn_tips_txt{
	color: #d70f0f;
}
.hl_lgn_tips_success {
	background: #def1db;	
}
.hl_lgn_tips_success 
.hl_lgn_tips_icon {
	display: inline-block;
	background-position:-25px -350px;
}
.hl_lgn_tips_success
.hl_lgn_tips_txt{
	display:none;
}