.singer {
	color: #000;
}


#main table tr td tr th  {
	font-weight: bold;
}

#main table tr td {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

#main  table tr th {
	font-size: 15px;
	font-weight: normal;
}

#main table {
	font-size: 15px;
	color: #000;
}

#main  table tr th {
	color: #682996;
}
#main table {
	font-size: 13px;
	color: #000;
}
th {
	font-size: 13px;
	color: #FFF;
}

#main table tr th h2 {
	color: #FFF;
	font-size: 20px;
}
#main table tr th strong {
	color: #000;
	font-size: 25px;
}
#search_apDiv24 {
	position:relative;
	width:900px;
	height:690px;
	z-index:1;
	margin-right: auto;
	margin-left: auto;
	color: #000;
	background-color: #FFFFFF;
	border: 1px solid #F2F2F2;
}


#search_apDiv26 {
	position:relative;
	width:900px;
	height:30px;
	z-index:10;
	margin-right: auto;
	margin-left: auto;
	top: -10px;
}